In [1]:
import pandas as pd

In [8]:
df1 = pd.DataFrame({"mid":[1,2,3],
                    "pid":[1,2,3],
                    "score":[1,2,3]
                   }
                  )
df1

   mid  pid  score
0    1    1      1
1    2    2      2
2    3    3      3

In [9]:
df2 = pd.DataFrame({"mid":[1,2],
                    "pid":[1,2],
                    "review":[1,2]
                   }
                  )
df2

   mid  pid  review
0    1    1       1
1    2    2       2

In [16]:
df2.dtypes

mid       int64
pid       int64
review    int64
dtype: object

In [13]:
df_3 = df1.merge(df2,on=["mid","pid"],how="left")
df_3

   mid  pid  score  review
0    1    1      1     1.0
1    2    2      2     2.0
2    3    3      3     NaN

In [15]:
df_3.fillna(0)

   mid  pid  score  review
0    1    1      1     1.0
1    2    2      2     2.0
2    3    3      3     0.0

In [17]:
204779089 + 65521574

270300663