In [7]:
# 快速排序
class SORT_NUMS():
    def quick_sort(self,nums,left,right):
        # 快排，左右指针法
        def partition(nums,begin,end):
            if begin >= end:
                return 
            old_begin = begin
            old_end = end
            tar_num= nums[begin]
            while begin < end:
                # 从有向左找到一个小于tar_num的值
                while begin < end and nums[end] >= tar_num:
                    end -= 1
                # 从左向右找到一个大于tar_num的值
                while begin < end and nums[begin] <= tar_num:
                    begin += 1
                # 如果找到的begin小于end，则交换
                if begin < end:
                    nums[begin],nums[end] = nums[end],nums[begin]
#             print(nums)
#             print(begin)
#             print(end)
#             print()
    #         if begin != end: # begin 必然等于end
    #             print("存在begin != end的情况")
            # 因为相等的值没有被算进去，所以要在最后把首位的key值与end位置的数进行交换
            nums[old_begin],nums[end] = nums[end],nums[old_begin]
            partition(nums,old_begin,begin-1)
            partition(nums,begin+1,old_end)
            return begin
        partition(nums,left,right)
        
#         if left < right:
#             split_pos = partition(nums,left,right)
#             self.quick_sort(nums,left,split_pos-1)
#             self.quick_sort(nums,split_pos+1,right)
            
    
    
        
    def merge_sort(self,nums):
        # 归并排序
        def merge_two_list(left_nums,right_nums):
            left_idx = 0
            right_idx = 0
            result = []
            while left_idx < len(left_nums) and right_idx < len(right_nums):
                if left_nums[left_idx] <= right_nums[right_idx]:
                    result.append(left_nums[left_idx])
                    left_idx += 1
                else:
                    result.append(right_nums[right_idx])
                    right_idx += 1
            return result + left_nums[left_idx:] + right_nums[right_idx:]
        
        nums_len = len(nums)
        if nums_len < 2:
            return nums
        middle_idx = nums_len // 2
        left_nums = merge_sort(nums[:middle_idx])
        right_nums = merge_sort(nums[middle_idx:])
        return self.merge_two_list(left_nums,right_nums)
        
        
s = SORT_NUMS()
import random
# nums = [random.randint(0,1000) for i in range(1000)]
nums = [5, 4, 5, 3, 2, 1, 1]
print("初始：",nums)
s.quick_sort(nums,0,len(nums)-1)
print(nums)

# print(s.merge_sort(nums))

初始： [5, 4, 5, 3, 2, 1, 1]
[1, 1, 2, 3, 4, 5, 5]

In [11]:
# 有效的字母异位词
class Solution(object):
    def isAnagram(self, s, t):
        """
        :type s: str
        :type t: str
        :rtype: bool
        """
        if not len(s) == len(t):
            return False
            
        sHash = tHash = 1
        sCount = [0] * 26
        tCount = [0] * 26
        p1 = 2903
        p2 = 29947
        # 统计每个字符出现的次数
        for i in range(len(s)):
            sCount[ord(s[i]) - ord('a')] += 1
            tCount[ord(t[i]) - ord('a')] += 1
        
        # 这是对每个统计列表做了一个hash
        for i in range(26):
            sHash = sHash * p1 + sCount[i]
            tHash = tHash * p1 + tCount[i]
            p1 *= p2
        return sHash == tHash
s = Solution()
print(s.isAnagram('ass','ssa'))
print(s.isAnagram('sdaf','sdgd'))
print(s.isAnagram('sdiaf','isadf'))

True
False
True

In [1]:
[1,2][2:]

[]

In [12]:
ord('a')

97

In [21]:
# 两个数的交集
class Solution(object):
    def intersection(self,nums1,nums2):
        result = []
        short_nums = nums1 if nums1 < nums2 else nums2
        for num in short_nums:
            if num in nums1 and num in nums2 and num not in result:
                result.append(num)
        
        return result
s = Solution()
print(s.intersection([1,2,2,5],[2,2,]))
print(s.intersection([1,2,2,5,4,5,7,1,8],[2,2,6,1,4]))

[2]
[1, 2, 4]

In [36]:
# 两个数的交集 2
class Solution(object):
    def intersection(self,nums1,nums2):
        dic = {}
        for num in nums1:
            dic[num] = [dic.get(num,[0,0])[0] + 1,0]
        
        for num in nums2:
            num_count_in_nums1 = dic.get(num,[0,0])[0]
            if num_count_in_nums1 == 0:
                continue
            else:
                dic[num] = [dic[num][0],dic[num][1]+1]
        result = []
        for k,v in dic.items():
            if v[1] == 0:
                continue
            result.append([k,min(v)])
        return result

s = Solution()
print(s.intersection([1,2,2,5],[2,2]))

[[2, 2]]

In [1]:
# 第K大的数字
class Solution:
    def findKthLargest(self, nums: List[int], k: int) -> int:
        # 堆排
        # 取前K个数，建立小根堆
        max_k_nums = nums[:k]
        last_father_node_idx = (k>>1) - 1
        i = last_father_node_idx
        # print(k,last_father_node_idx,i)

        def reset(idx):
            left_idx = (idx<<1) +1
            if left_idx < len(max_k_nums) and max_k_nums[left_idx] < max_k_nums[idx]:
                tem = max_k_nums[idx]
                max_k_nums[idx] = max_k_nums[left_idx]
                max_k_nums[left_idx] = tem
                reset(left_idx)

            right_idx = (idx<<1) +2
            if right_idx < len(max_k_nums) and max_k_nums[right_idx] < max_k_nums[idx]:
                tem = max_k_nums[idx]
                max_k_nums[idx] = max_k_nums[right_idx]
                max_k_nums[right_idx] = tem
                reset(right_idx)

        for _ in range(last_father_node_idx+1):
            left_idx = (i<<1) +1 
            if max_k_nums[left_idx] < max_k_nums[i]:
                tem = max_k_nums[i]
                max_k_nums[i] = max_k_nums[left_idx]
                max_k_nums[left_idx] = tem
                reset(left_idx)
            
            right_idx = (i<<1) +2
            if right_idx < len(max_k_nums) and max_k_nums[right_idx] < max_k_nums[i]:
                tem = max_k_nums[i]
                max_k_nums[i] = max_k_nums[right_idx]
                max_k_nums[right_idx] = tem
                reset(right_idx)
            i -=1
        # print("初始：",max_k_nums)

        # 将后面的数加入堆
        for i in range(k,len(nums)):
            if nums[i] <= max_k_nums[0]:
                continue
            max_k_nums[0] = nums[i]
            reset(0)
        
        # print("最终：",max_k_nums)
        return max_k_nums[0]

In [8]:
# 计算右侧小于当前元素的个数
# 给定一个整数数组 nums，按要求返回一个新数组 counts。数组 counts 有该性质： counts[i] 的值是  nums[i] 右侧小于 nums[i] 的元素的数量。

# 来源：力扣（LeetCode）
# 链接：https://leetcode-cn.com/problems/count-of-smaller-numbers-after-self
# 著作权归领扣网络所有。商业转载请联系官方授权，非商业转载请注明出处。
# 示例:

# 输入: [5,2,6,1]
# 输出: [2,1,1,0] 
# 解释:
# 5 的右侧有 2 个更小的元素 (2 和 1).
# 2 的右侧仅有 1 个更小的元素 (1).
# 6 的右侧有 1 个更小的元素 (1).
# 1 的右侧有 0 个更小的元素.

# 来源：力扣（LeetCode）
# 链接：https://leetcode-cn.com/problems/count-of-smaller-numbers-after-self
# 著作权归领扣网络所有。商业转载请联系官方授权，非商业转载请注明出处。
class Solution:
    def countSmaller(self, nums: List[int]) -> List[int]:
        if not nums:
            return []
        count = len(nums)
        sorted_list =[nums.pop()]
        result = [0]
        # 倒序依次插入排序列表
        for _ in range(count-1):
            target_num = nums.pop()
            start_idx = 0
            end_idx = len(sorted_list) -1
            middle_idx = 0 
            while start_idx<=end_idx:
                middle_idx = (start_idx + end_idx) >>1
                if sorted_list[middle_idx] >= target_num: # 注意这里等于相当于大于，因为我们要所有小的
                    end_idx = middle_idx - 1
                elif sorted_list[middle_idx] < target_num:
                    start_idx = middle_idx +1 
            if sorted_list[middle_idx] < target_num:
                sorted_list.insert(middle_idx+1,target_num)
                result.append(middle_idx+1)
            else:
                sorted_list.insert(middle_idx,target_num)
                result.append(middle_idx)
            # print(sorted_list)
            
        result.reverse()
        return result

0

In [9]:
a = [1,2,3]
a.insert(3,8)
a.reverse()
a

[8, 3, 2, 1]

In [1]:
[1,2,3][::-1] #

[3, 2, 1]

In [2]:
"sad"[::-1] # 这种适用于任意字符的反转

'das'

In [11]:
# 全排列组合：顺序数
def all_list(nums):
    result = []
    def resove(idx): # 从idx后面的数进行全排列
        if idx == len(nums)-1:
#             print(nums)
            result.append(nums.copy()) # 这里必须copy一下
            return 
        for i in range(idx,len(nums)):
            nums[idx],nums[i] = nums[i],nums[idx] # 把idx后面每一个位置上的数都放到idx上一次，第一次就是自身因为i==idx
            resove(idx+1) # 将idx后面的数进行全排列
            nums[i],nums[idx] = nums[idx],nums[i] # 回溯：在把i做首位，所有全排列都排外之后，需要把位置还原
    resove(0)
    return result
all_list([i for i in range(1,5)])

[[1, 2, 3, 4],
 [1, 2, 4, 3],
 [1, 3, 2, 4],
 [1, 3, 4, 2],
 [1, 4, 3, 2],
 [1, 4, 2, 3],
 [2, 1, 3, 4],
 [2, 1, 4, 3],
 [2, 3, 1, 4],
 [2, 3, 4, 1],
 [2, 4, 3, 1],
 [2, 4, 1, 3],
 [3, 2, 1, 4],
 [3, 2, 4, 1],
 [3, 1, 2, 4],
 [3, 1, 4, 2],
 [3, 4, 1, 2],
 [3, 4, 2, 1],
 [4, 2, 3, 1],
 [4, 2, 1, 3],
 [4, 3, 2, 1],
 [4, 3, 1, 2],
 [4, 1, 3, 2],
 [4, 1, 2, 3]]

In [4]:
999752 / (34356183 + 999752)

0.028276780121922952

In [5]:
687622 / (30782645 + 687622)

0.021849894060320493

In [8]:
3860237 / (3860237 + 171589110)

0.02200200266348099

In [9]:
3851729 / (3851729 + 171570749)

0.02195687259645255

In [10]:
1254115 / ( 1254115 + 55150351)

0.022234320948983012

In [11]:
3107248 / 1998596

1.554715410217973

In [12]:
3107248 / (3107248 + 1998596)

0.6085669675767611

In [13]:
1998596 / (3107248 + 1998596)

0.39143303242323896

In [15]:
681009 / (681009 + 21071476)

0.031307181685218954

In [16]:
377290 / (377290 + 19137907)

0.019333138169191938

In [17]:
236209 / (236209 + 10140189)

0.022764065140909204

In [18]:
647841 / (647841 + 26323403)

0.02401969297374641

In [19]:
602856 / (602856 + 25149580)

0.023409668895012496

In [20]:
1057355 / (1057355 + 46319068)

0.022318168680653665

In [21]:
845056 / (845056 + 38829240)

0.021299836044979852

In [22]:
658228 / (658228 + 39750237)

0.0162893591726387

In [23]:
import pandas as pd

In [37]:
df1 = pd.DataFrame({"a":[1,1,2],
                    "b":[2,3,4]
                   }
                  )
df1

   a  b
0  1  2
1  1  3
2  2  4

In [38]:
df2 = pd.DataFrame({"a":[1,1],
                    "b":[2,2],
                    "c":[5,5]
                   }
                  )
df2

   a  b  c
0  1  2  5
1  1  2  5

In [41]:
df = df1.merge(df2,how="left",on=["a","b"])
df

   a  b    c
0  1  2  5.0
1  1  2  5.0
2  1  3  NaN
3  2  4  NaN

In [42]:
df['d'] = list(map(lambda x,y:max(x,y),df['b'].values,df['c'].values))
df

   a  b    c    d
0  1  2  5.0  5.0
1  1  2  5.0  5.0
2  1  3  NaN  3.0
3  2  4  NaN  4.0

In [44]:
df.drop_duplicates(inplace=True)

In [46]:
df

   a  b    c    d
0  1  2  5.0  5.0
2  1  3  NaN  3.0
3  2  4  NaN  4.0

In [47]:
df['a'] = df['c'].values

In [48]:
df

     a  b    c    d
0  5.0  2  5.0  5.0
2  NaN  3  NaN  3.0
3  NaN  4  NaN  4.0

In [36]:
df['c'] / df['d']

0    1.0
1    1.0
2    1.0
3    1.0
4    NaN
dtype: float64

In [35]:
37.0 / 52.0

0.7115384615384616

In [40]:
"a:%f"%(0.00005)

'a:0.000050'

In [57]:
a = [[False] * 5 for _ in range(5)]
a

[[False, False, False, False, False],
 [False, False, False, False, False],
 [False, False, False, False, False],
 [False, False, False, False, False],
 [False, False, False, False, False]]

In [63]:
"abbc"[0:1]

'a'

In [64]:
list(("a","b"))

['a', 'b']

In [65]:
s = set()
s.add(5)
s

{5}

In [68]:
a = [5,1,3]
a= sorted(a)
a

[1, 3, 5]

In [ ]:
set([5,5,6,1])