In [1]:
import pandas as pd
import numpy as np

In [5]:
a = pd.DataFrame({"a":[1,2],
                  "b":[5,8]
                 }
                )
a

   a  b
0  1  5
1  2  8

In [10]:
def test():    
    df = pd.DataFrame({"a":[1,2],
                      "b":[5,8]
                     }
                    )
#     df = df[df.a >1]
    df.loc[df.a >1]
    return df.loc[df.a >1] 
a = test()
a

   a  b
1  2  8